[core]
    fileMode = false
    editor = nvim
[user]
    name = Barry Chen
    email = bchen@mozilla.com
    signingKey = 228DB2785954A0D0
[color]
    ui = true
[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff --color --color-words --abbrev
    lg = log --graph --decorate --abbrev-commit --date=relative --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    pl = pull --rebase
    sh = show --ext-diff
[rerere]
    enabled = 1
[fetch]
    prune = true
[commit]
    gpgsign = true
[diff]
    external = difft
