[core]
    fileMode = false
	editor = vim
[user]
    name = Barry Chen
    email = chenba@gmail.com
[color]
    ui = true
[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff --color --color-words --abbrev
    lg = log --graph --decorate --abbrev-commit --date=relative --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    pl = pull --rebase
[rerere]
    enabled = 1
[credential]
	helper = osxkeychain
